<!DOCTYPE html>
<!--文档类型-->
<html lang="zh-CN">
<!--html标签，lang最开始为en，改为中文-->

<head>
    <meta charset="UTF-8">
    <!--文件字符编码-->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--禁用缩放，兼容手机，宽度跟设备宽度一样，默认的缩放比例是1倍，最小缩放比例等于1，最大缩放比例等于1，用户不准缩放-- >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--告诉IE使用最新内核-->
    <title>Rate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!--标题-->
</head>

<body>
    <center>
        <h1 style="color: rgb(32, 234, 166);">匯率及幣值換算</h1>
        <p> 試算內容僅供參考，實際交易之金額以交易當時匯率為計算基準 </p>
        <div>我想要將
            <select id="currency"></select>
        </div>
        <div>兌換成
            <select id="targetCurrency"></select>

        </div>

        <div>
            <p id="output"> 參考匯率 </p>
        </div>

        <div id="div1"></div>
        <button id="but01">獲取匯率</button>

        <button id="convert"> Convert</button>

    </center>
    <script>
        // 鎖右鍵，選取，跟複製功能。
        // document.oncontextmenu = function () { return false }; //鎖右鍵
        document.onselectstart = function () { return false }; //鎖選取
        document.oncopy = function () { return false }; //鎖複製


        $(document).ready(function () {
            $.ajax({
                url: 'currencyid',
                type: 'post',
                success: function (result) {
                    result = result.data;
                    for (i = 0; i < result.length; i++) {
                        $("#currency").append("<option value=" + result[i].id + ">" + result[i].unit + "</option>")
                    }
                }
            })

            $.ajax({
                url: 'currencyid',
                type: 'post',
                success: function (result) {
                    result = result.data;
                    for (i = 0; i < result.length; i++) {
                        $("#targetCurrency").append("<option value=" + result[i].id + ">" + result[i].unit + "</option>")
                    }
                }
            })



        })
        $("#but01").click(function () {

            var downSelectValue = $("#currency").val();
            console.log("downSelectValue: " + downSelectValue);

            var downSelectOptionVlaue = $("#currency").find(':selected').text();
            console.log("downSelectOptionVlaue: " + downSelectOptionVlaue);


            var targetCurrencyValue = $("#targetCurrency").val();
            console.log("targetCurrencyValue: " + targetCurrencyValue);

            $.ajax(
                {
                    url: 'getRate',
                    method: "get",
                    success: res => {
                        result = res.message
                        alert("寫入成功" + result)
                    },
                    error: res => {
                        console.log("寫入失敗" + res)
                    }

                }
            )
        })
        $("#convert").click(function () {

            var downSelectValue = $("#currency").val();
            console.log("downSelectValue: " + downSelectValue);

            var targetCurrencyValue = $("#targetCurrency").val();
            console.log("targetCurrencyValue: " + targetCurrencyValue);

            $.ajax({
                url: 'convertRate',
                type: 'post',
                data: { downSelectValue, targetCurrencyValue },
                success: function (result) {
                    message = result.message
                    data = result.data
                    let dataMap = new Map(Object.entries(data))
                    console.log(dataMap.get('0'));
                    let objectRate = (dataMap.get('0'));
                    console.log(objectRate)
                    let converRate = (objectRate['USD_NTD'])
                    $("#output").text(converRate);

                },
                error: function (result) {
                    result = result.message
                    alert(result);
                }
            })

        })


    </script>
</body>

</html>